/* HEADER CSS */
#topnav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(212, 66, 76);

    height: 3.5vh;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;

    padding: 0px 55px;
}


.head {
    justify-content: space-between;
    /* justify-content: flex-start; */
    flex-direction: row;
    /* padding: 1vw 2vw; */
    background-color: #ffffff;
    height: 10vh;
    border-bottom: 1px solid #e7e9e8;
}


.head figure {
    height: 40%;
    padding-left: 10%;
}

.head figure a img {
    max-height: 100%;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar input {
    padding: 5px;
    height: 35px;
    width: 30vw;
    border-radius: 3px;
    outline: none;
    border: 1px solid #e7e9e8;
}

.searchbar button {
    height: 35px;
    padding: 4px;
    margin: -7px;
    color: white;
    background-color: #00afef;
    border: 1px solid #e7e9e8;
    border-radius: 3px;
}

.nav-menu {
    list-style: none;
}

.head ul li {
    list-style: none;
}

.head ul li a {
    text-decoration: none;
    padding: 0 1vw;
    color: black;
}

.navbar ul {
    justify-content: flex-start;
    /* background-color: #111827; */

}

.nav-menu {
    padding: 1vh 1vw;
}

.nav-menu a {
    text-decoration: none;
    color: #000;
    font-size: .9rem;
}

/* MAIN CSS */
main {
    min-height: 80vh;
}

/* slider */
.slider {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    transition: transform 0.5s ease;
    transform: translateX(-1366px);
}

.slides img {
    width: calc(100% / 3);
    height: 100%;
}

.controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slider button {
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 30px;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s ease;
}

.slider button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* FOOTER CSS */