/* HEADER CSS */
#topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(212, 66, 76);

    height: 3.5vh;

    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    color: white;

    padding: 0px 55px;
}


.head {
    justify-content: space-between;
    /* padding: 1vw 2vw; */
    background-color: #ffffff;
    height: 10vh;
}


.head figure{
    height: 40%;
    padding-left: 10%;
}

.head figure a img{
    max-height: 100%;
}

.nav-menu {
    list-style: none;
}

.head ul li {
    list-style: none;
}

.head ul li a {
    text-decoration: none;
    padding: 0 1vw;
    color: black;
}

.navbar ul {
    justify-content: flex-start;
    background-color: #111827;
}

.nav-menu {
    padding: .8vw 1vw;
}

.nav-menu a {
    text-decoration: none;
    color: whitesmoke;
}

/* MAIN CSS */
main {
    min-height: 80vh;
}

/* FOOTER CSS */